.pagination span {
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
}

.active__page {
    background: var(--secondary-color);
    color: #fff !important;
}

.tours__hero {
  position: relative;
}

.tours__search-bar {
  position: absolute;
  bottom: -95px; 
  left: 57%;
  transform: translateX(-50%);
  width: 80%;
  border-radius: 10px;
  padding: 0.03rem;
  z-index: 10;
}

.tours__list-section {
  padding-top: 150px;  
}

